<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Вход</title>
</head>
<body>
<div class="auth-menu">
  <form method="post" class="auth-form">
    <p>Авторизация</p>
    <label>
      <input class="auth-input login" type="text" placeholder="Введите логин" name="username">
    </label>
    <label>
      <input class="auth-input password" type="password" placeholder="Введите пароль" name="password">
    </label>
    <button class="auth-btn sign-in-btn">Войти</button>
    <p>Ещё нет аккаунта? <a class="redirect-link" href="/sign-up-page">Зарегистрирваться</a></p>

  </form>
</div>
</body>
</html>